* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cormorant Garamond;
}

.productos {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
}

body {
    background-color: #5E715E;
}

.logo1 {
    display: flex;
    width: 0px;
    height: 0px;
    margin-left: 40px;
}

.logo {
    width: 300px;
    height: 150px;
    margin-top: -5px;
}

.icon {
    padding-top: 90px;
}

/* .menu__icono {
    margin-right: 300px;
} */

.menu {
    display: block;
    /* align-items: flex-end; */
    /* margin-bottom: 100px; */
}

nav {
    margin: auto;
    background: #5E715E;
    font-size: 15px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.menu__horizontal {
    list-style: none;
    display: flex;
    /* justify-content: space-around; */
    text-transform: uppercase;
    justify-content: center;
}

.menu__horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.menu__horizontal > li:hover {
    background-color: #6d8777;
}

.menu__vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #9ba79c;
    text-transform: none;
    z-index: 2;
}

.menu__horizontal li:hover .menu__vertical {
    display: block;
}

.menu__vertical li:hover {
    background-color: #6d8777;
}

.menu__vertical li a {
    display: block;
    color: #dcdfdc;
    padding: 10px 10px 10px 15px;
    text-decoration: none;
}

.menu__superior {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.menu__icono {
    margin-right: 40px;
    padding-right: 20px;
    /* padding-top: 50px; */
    /* margin-top: 50px; */
}

.menu__Empresa {
    margin-top: -47px;
}

.text-i {
    margin-bottom: 20px;
    text-align: center;
    color: #2f7e46;
    font-size: 25px;
}

.catalogo {
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px 30px 30px 50px;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 10px;
}

.producto {
    background-color: #fff;
    text-align: center;
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.producto:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.producto img {
    border-bottom: #3E7E55 2px solid;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.extendidas {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

@font-face {
    font-family: mifuenteMia;
    src: url(../fuentes/CormorantGaramond-BoldItalic.ttf);
}

@media (max-width: 907px) {
    .productos {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
}

    .catalogo {
        margin-left: 5%;
        margin-right: 5%;
        padding: 20px 35px 30px 40px;
    }
}

@media (max-width: 667px) {
    .productos {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}

    .catalogo {
        margin-left: 5%;
        margin-right: 5%;
        padding: 20px 35px 30px 40px;
    }
}