/* @font-face {
    font-family: fuentes;
    src: url(/fuentes/CormorantGaramond-BoldItalic.ttf);
    font-weight: bold;
    font-style: bold;
} */
@font-face {
    font-family: mifuenteMia;
    src: url(../fuentes/CormorantGaramond-BoldItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cormorant Garamond;
}

:root {
    --verdePastel: #d5e4cf;
    --verdeGrisaseo: #9ba79c;
    --verdeGrisOscuro: #afc2ae;
    --verdegris: #d5e4cf;
    --crema: #fcf7ec;
    --verdeMilitar: #273526;
    --grisAzulado: #45627e;
    --verdeMilitar: #6d8777;
    --verdeClaro : #c0cfb2;
    --verdeGris2: #e4e6d9;
    --verdeClaro1: #b7f7c7;
    --verdeclaro2: #9fdeaf;
    --verdeClaro3: #87c598;
    --verdeOscuro1: #6fac80;
    --verdeOscuro2: #579368;
    --rosado:rgb(255, 0, 191);
    /* Colores que estaran en la lista de tal vez */
    --quizas1: #3e7e55;
    --quizas2: #7abd87;
    --quizas3: #cadec8;
    --quizas4: #eaeee5;
}

body {
    background-color: #5E715E;
}

footer {
    margin: auto;
    padding: 20px;
}

.texto__footer {
    text-align: center;
    color: #fff;
}

.logo1 {
    display: flex;
    width: 0px;
    height: 0px;
    margin-left: 40px;
}

.logo {
    width: 300px;
    height: 150px;
    margin-top: -5px;
}

.flecha i {
    display: none;
}

.icon {
    padding-top: 90px;
}


.menu {
    display: block;
    /* align-items: flex-end; */
    /* margin-bottom: 100px; */
}

nav {
    margin: auto;
    background: #5E715E;
    font-size: 15px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.menu__horizontal {
    list-style: none;
    display: flex;
    /* justify-content: space-around; */
    text-transform: uppercase;
    justify-content: center;
}

.menu__horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.menu__horizontal > li:hover {
    background-color: #6d8777;
}

.menu__vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #9ba79c;
    text-transform: none;
    z-index: 2;
}

.menu__horizontal li:hover .menu__vertical {
    display: block;
}

.menu__vertical li:hover {
    background-color: #6d8777;
}

.menu__vertical li a {
    display: block;
    color: #dcdfdc;
    padding: 10px 10px 10px 15px;
    text-decoration: none;
}

.menu__superior {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.menu__icono {
    margin-right: 40px;
    padding-right: 20px;
    /* padding-top: 50px; */
    /* margin-top: 50px; */
}

.menu__Empresa {
    margin-top: -47px;
}

/* hasta aqui hice cambios */


.menu .abreMenu {
    font-size: 1rem; /* Esto es para darle tamaño a los tre puntitos */
    margin: 20px; /* Esto aki es para darle espacio el los lados*/
    display: none;
    cursor: pointer; /* Para cambiar de cursor*/
    /* color: #5E715E; */
}

.menu .menu__horizontal .cierraMenu, .iconos i {
    font-size: 1.5rem; /* Esto es para darle tamaño al los iconos y a la (x) */
    display: none;
    cursor: pointer; /* Para cambiar de cursor*/
}


.fa-instagram {
    color: var(--rosado); /* Lo utilizo para darle un efecto al icono de instagram*/
}


/* Servicios */
/* Estilo del título de la sección de servicios */
.servicio .titulo {
    text-align: center; /* Centramos el título */
    font-family: Cormorant Garamond; /* Utilizamos la fuente Cormorant Garamond */
    font-size: 32px; /* Tamaño del título */
    color: #fff; /* Color del texto del título */
}

/* Estilo del contenedor de servicios */
.servicios {
    display: flex; /* Usamos un contenedor flexible */
    flex-wrap: wrap; /* Permitimos que los elementos hijos se envuelvan en múltiples líneas */
    justify-content: center; /* Centramos los elementos hijos horizontalmente */
}

/* Estilo de cada imagen de servicio */
.servicios__img {
    margin: 30px; /* Añadimos un margen alrededor de cada imagen */
    width: 400px; /* Ancho de cada imagen */
    height: 200px; /* Altura de cada imagen */
    overflow: hidden; /* Ocultamos cualquier contenido que desborde el contenedor */
    border-radius: 10px; /* Redondeamos las esquinas de cada imagen */
}

/* Estilo de las imágenes dentro de los contenedores */
.servicios__img img {
    height: 200px; /* Altura de la imagen */
    width: 400px; /* Ancho de la imagen */
    border-radius: 10px; /* Redondeamos las esquinas de la imagen */
    object-fit: cover; /* Ajustamos la imagen para cubrir el contenedor sin distorsión */
    transition: .5s; /* Aplicamos una transición suave para las animaciones */
}

/* Estilo de la descripción de cada servicio */
.intro {
    height: 75px; /* Altura de la descripción */
    width: 400px; /* Ancho de la descripción */
    padding: 6px; /* Añadimos un relleno interno */
    box-sizing: border-box; /* Ajustamos el tamaño del contenedor incluyendo el relleno */
    position: relative; /* Posicionamos el elemento de forma relativa */
    bottom: 65px; /* Lo desplazamos hacia abajo */
    border-radius: 10px; /* Redondeamos las esquinas */
    background: #9ba79c; /* Color de fondo */
    backdrop-filter: blur(20px); /* Aplicamos un desenfoque al fondo */
    text-align: center; /* Centramos el texto */
    color: #fff; /* Color del texto */
    transition: .5s; /* Aplicamos una transición suave para las animaciones */
}

/* Estilo del título dentro de la descripción */
.servicios__img h3 {
    margin: 5px; /* Añadimos un margen alrededor del título */
    font-size: 18px; /* Tamaño del texto del título */
    font-family: Cormorant Garamond; /* Utilizamos la fuente Cormorant Garamond */
    color: #000; /* Color del texto del título */
}

/* Estilo de los enlaces */
.servicios__img a {
    text-decoration: none; /* Quitamos el subrayado de los enlaces */
}

/* Estilo del botón dentro de la descripción */
.intro input {
    height: 35px; /* Altura del botón */
    border: none; /* Quitamos el borde del botón */
    margin: 15px; /* Añadimos un margen alrededor del botón */
    border-radius: 25px; /* Redondeamos las esquinas del botón */
    background-color:#9ba79c; /* Color de fondo */
    color: #fff; /* Color del texto */
    box-shadow: 0px 3px 3px 0px grey; /* Añadimos una sombra al botón */
    font-size: 18px; /* Tamaño del texto */
    font-family: Cormorant Garamond; /* Utilizamos la fuente Cormorant Garamond */
    cursor: pointer; /* Cambiamos el cursor al pasar sobre el botón */
    padding: 5px; /* Añadimos un relleno interno */
    transition: .5s; /* Aplicamos una transición suave para las animaciones */
}

/* Estilo del texto dentro de la descripción */
.servicios__img p {
    color: #000; /* Color del texto */
    text-align: justify; /* Justificamos el texto */
    transform: translateX(20px); /* Desplazamos el texto horizontalmente */
    font-size: 15px; /* Tamaño del texto */
    margin: 10px; /* Añadimos un margen alrededor del texto */
    visibility: hidden; /* Ocultamos el texto inicialmente */
    opacity: 0; /* Hacemos el texto transparente */
    font-family: mifuenteMia; /* Utilizamos la fuente mifuenteMia */
}

/* Estilo del botón al pasar el cursor sobre él */
.servicios__img .intro input:hover  {
    transform: scale(1.1); /* Aumentamos ligeramente el tamaño del botón */
}

/* Estilo de la descripción al pasar el cursor sobre la imagen */
.servicios__img:hover .intro{
    height: 205px; /* Aumentamos la altura de la descripción */
    bottom: 205px; /* Posicionamos la descripción hacia abajo */
    background-color: #fff; /* Cambiamos el color de fondo de la descripción */
}

/* Estilo del texto dentro de la descripción al pasar el cursor sobre la imagen */
.servicios__img:hover p {
    opacity: 1; /* Hacemos el texto visible */
    visibility: visible; /* Hacemos el texto visible */
}

/* Estilo de la imagen al pasar el cursor sobre ella */
.servicios__img:hover img {
    transform: scale(1.1) rotate(-3deg); /* Aumentamos ligeramente el tamaño y rotamos la imagen */
}

/* Estilo del logo de navegación */
.nav .logo {
    margin: 6px; /* Añadimos un margen alrededor del logo */
    font-size: 25px; /* Tamaño del texto del logo */
    cursor: pointer; /* Cambiamos el cursor al pasar sobre el logo */
}



/* --------Cotizar------- */

/* Estilo para el párrafo dentro del formulario */
.formulario__cotizar form p {
    color: #000; /* Color del texto */
    text-align: justify; /* Alineación justificada del texto */
    font-size: 28px; /* Tamaño de fuente */
    line-height: 25px; /* Altura de línea */
    font-family: Cormorant Garamond; /* Fuente */
}

/* Estilo para el contenedor del formulario */
.formulario__cotizar {
    display: flex; /* Usamos un contenedor flexible */
    justify-content: center; /* Centramos horizontalmente */
    align-items: center; /* Centramos verticalmente */
}

/* Estilo para el formulario */
.formulario__cotizar form {
    display: flex; /* Usamos un contenedor flexible */
    flex-direction: column; /* Alineamos los elementos verticalmente */
    justify-content: center; /* Centramos horizontalmente */
    align-items: center; /* Centramos verticalmente */
    width: 400px; /* Anchura del formulario */
    height: 715px; /* Altura del formulario */
    border-radius: 5px; /* Redondeamos las esquinas */
    background-color: #fff; /* Color de fondo */
}

/* Estilo para las etiquetas */
.formulario__cotizar label {
    margin: 20px; /* Margen alrededor de las etiquetas */
    color: #000; /* Color del texto */
    font-family: Cormorant Garamond; /* Fuente */
}

/* Estilo para los campos de entrada de fecha */
.formulario__cotizar #fecha {
    text-align: center; /* Alineación centrada */
    width: 165px; /* Anchura */
    padding: 0 5px; /* Relleno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambio del cursor */
}

/* Estilo para los campos de entrada de nombre, apellido, correo y teléfono */
.formulario__cotizar #nombre, 
.formulario__cotizar #apell, 
.formulario__cotizar #email, 
.formulario__cotizar #tel {
    width: 200px; /* Anchura */
}

/* Estilo para los campos de entrada en general */
.formulario__cotizar input {
    padding: 0 5px; /* Relleno */
    height: 30px; /* Altura */
    width: 200px; /* Anchura */
    border-radius: 25px; /* Redondeamos las esquinas */
    margin: 5px; /* Margen */
    border: 1px solid #bdbfbc; /* Borde */
    font-size: 14px; /* Tamaño de fuente */
    outline: none; /* Quitamos el contorno */
}

/* Estilo para el contenedor de la consulta */
.consulta {
    display: flex; /* Usamos un contenedor flexible */
    justify-content: center; /* Centramos horizontalmente */
    align-items: center; /* Centramos verticalmente */
    flex-direction: column; /* Alineamos los elementos verticalmente */
    line-height: 5px; /* Altura de línea */
}

/* Estilo para el área de texto de la consulta */
.consulta textarea {
    border-radius: 10px; /* Redondeamos las esquinas */
    width: 280px; /* Anchura */
    height: 75px; /* Altura */
    outline: none; /* Quitamos el contorno */
    padding: 0 3px; /* Relleno */
}

/* Estilo para el contenedor de confirmación */
.confirmar {
   display: flex; /* Usamos un contenedor flexible */
   justify-content: center; /* Centramos horizontalmente */
   width: 375px; /* Anchura */
   height: 35px; /* Altura */
   border-radius: 25px; /* Redondeamos las esquinas */
}

/* Estilo para el botón de confirmación */
.confirmar input {
    border: 0; /* Quitamos el borde */
    background-color: var(--quizas1); /* Color de fondo */
    display: flex; /* Usamos un contenedor flexible */
    justify-content: center; /* Centramos horizontalmente */
    align-items: center; /* Centramos verticalmente */
    cursor: pointer; /* Cambio del cursor */
    width: 120px; /* Anchura */
    height: 30px; /* Altura */
    color: #fff; /* Color del texto */
    text-align: center; /* Alineación centrada */
    margin-top: -5px; /* Margen superior negativo */
    padding: 1px; /* Relleno */
    font-size: 18px; /* Tamaño de fuente */
    font-family: Cormorant Garamond; /* Fuente */
}

/* Estilo para el botón de confirmación al pasar el cursor */
.formulario__cotizar input[type="submit"]:hover {
    background-color: var(--verdeOscuro2); /* Cambio de color de fondo al pasar el cursor */
}


/* Usuario */
.form__usuario {
    display: flex; /* Usamos flexbox para alinear los elementos del formulario */
    justify-content: center; /* Centramos el formulario horizontalmente */
    align-items: center; /* Centramos el formulario verticalmente */
    flex-direction: column; /* Alineamos los elementos en una columna */
}

.form__usuario form {
    display: flex; /* Usamos flexbox para alinear los elementos dentro del formulario */
    flex-direction: column; /* Alineamos los elementos en una columna */
    align-items: center; /* Centramos los elementos horizontalmente */
    border: 1px solid rgba(247, 242, 242, 0.671); /* Añadimos un borde suave alrededor del formulario */
    width: 400px; /* Ancho del formulario */
    height: 400px; /* Alto del formulario */
    border-radius: 5px; /* Redondeamos las esquinas del formulario */
    padding: 30px; /* Añadimos espacio interno alrededor del contenido del formulario */
}

.form__usuario h2 {
    text-align: center; /* Centramos el texto del encabezado */
    font-size: 32px; /* Tamaño de la fuente del encabezado */
    color: #fff; /* Color del texto del encabezado */
    margin: 0 0 30px 0; /* Margen inferior para separar el encabezado del resto del formulario */
    font-family: Cormorant Garamond; /* Fuente personalizada */
}

.form__usuario form input {
    border: 0; /* Quitamos el borde de los campos de entrada */
    outline: none; /* Quitamos el contorno de los campos de entrada */
    width: 280px; /* Ancho de los campos de entrada */
    height: 30px; /* Alto de los campos de entrada */
    border-radius: 20px; /* Redondeamos las esquinas de los campos de entrada */
    padding: 0 10px; /* Añadimos espacio interno a los lados de los campos de entrada */
    font-size: 16px; /* Tamaño de la fuente de los campos de entrada */
    font-family: Cormorant Garamond; /* Fuente personalizada */
}

.form__usuario .boton input {
    background-color: var(--quizas1); /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    width: 260px; /* Ancho del botón */
    height: 35px; /* Alto del botón */
    cursor: pointer; /* Cambiamos el cursor al pasar sobre el botón */
    font-size: 18px; /* Tamaño de la fuente del botón */
    margin: 0 0 25px 0; /* Margen inferior del botón */
}

.boton:hover input {
    background-color: var(--quizas2); /* Cambiamos el color de fondo del botón al pasar el ratón sobre él */
}

.usuario p {
    display: flex; /* Usamos flexbox para alinear el texto */
    justify-content: center; /* Centramos el texto horizontalmente */
    margin-bottom: 30px; /* Margen inferior del texto */
    margin-top: 10px; /* Margen superior del texto */
    font-size: 16px; /* Tamaño de la fuente del texto */
    color: #fff; /* Color del texto */
    font-family: mifuentemia; /* Fuente personalizada */
}

.otra__manera {
    display: flex; /* Usamos flexbox para alinear los elementos */
    align-items: center; /* Centramos los elementos verticalmente */
    flex-direction: column; /* Alineamos los elementos en una columna */
}

.otra__manera a {
    text-decoration: none; /* Quitamos la decoración del texto de los enlaces */
}

.otra__manera h4 {
    font-size: 18px; /* Tamaño de la fuente del encabezado */
    color: #fff; /* Color del texto del encabezado */
    font-family: Cormorant Garamond; /* Fuente personalizada */
}

.vinculo {
    padding: 5px; /* Añadimos espacio interno alrededor del contenido */
}

.vinculo i {
    margin: 8px; /* Margen alrededor de los iconos */
}

.otra__manera {
    height: 30px auto; /* Altura del contenedor */
    margin: 0 10px; /* Margen lateral */
    cursor: pointer; /* Cambiamos el cursor al pasar sobre el contenedor */
}

.registrame {
    padding: 20px; /* Añadimos espacio interno alrededor del contenido */
}

.registrame a {
    text-decoration: none; /* Quitamos la decoración del texto de los enlaces */
}

.registrame p {
    font-size: 16px; /* Tamaño de la fuente del texto */
    color: #fff; /* Color del texto */
    font-family: Cormorant Garamond; /* Fuente personalizada */
}

.registrame p strong {
    color: #1C4807; /* Color del texto en negrita */
    cursor: pointer; /* Cambiamos el cursor al pasar sobre el texto en negrita */
    font-family: mifuentemia; /* Fuente personalizada */
}




/* Registro de usuario */

/* Estilo del contenedor principal del formulario de registro */
.form__registro {
    display: flex; /* Configura el contenedor como un flexbox */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

/* Estilo del formulario de registro */
.form__registro form {
    display: flex; /* Configura el formulario como un flexbox */
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    border: 1px solid rgba(247, 242, 242, 0.671); /* Establece un borde sólido */
    width: 400px; /* Ancho del formulario */
    height: 470px; /* Altura del formulario */
    border-radius: 5px; /* Borde redondeado */
    padding: 20px; /* Espaciado interno */
}

/* Estilo de las entradas del formulario */
.form__registro form input {
    border: 0; /* Sin borde */
    outline: none; /* Sin contorno al enfocar */
    width: 285px; /* Ancho de las entradas */
    height: 35px; /* Altura de las entradas */
    margin: 5px; /* Margen entre las entradas */
    border-radius: 20px; /* Borde redondeado */
    padding: 0 10px; /* Espaciado interno */
    font-size: 18px; /* Tamaño de la fuente */
    font-family: Cormorant Garamond; /* Fuente */
}

/* Estilo del botón de registro */
.regis {
    display: flex; /* Configura el botón como un flexbox */
    justify-content: center; /* Centra horizontalmente el contenido */
    width: 300px; /* Ancho del botón */
    height: 30px; /* Altura del botón */
    border-radius: 25px; /* Borde redondeado */
}

.regis input[type="submit"] {
    background-color: var(--quizas1); /* Color de fondo */
    display: flex; /* Configura el botón como un flexbox */
    border-radius: 25px; /* Borde redondeado */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    width: 260px; /* Ancho del botón */
    height: 30px; /* Altura del botón */
    color: #fff; /* Color del texto */
    margin: 20px; /* Margen exterior */
    text-align: center; /* Alineación del texto */
    font-size: 20px; /* Tamaño de la fuente */
    font-family: Cormorant Garamond; /* Fuente */
    padding: 2px; /* Espaciado interno */
    outline: none; /* Sin contorno al enfocar */
}

/* Efecto hover para el botón de registro */
.regis:hover input {
    background-color: var(--verdeOscuro2); /* Cambia el color de fondo al pasar el cursor */
}

/* Estilo del texto "O" */
.entrar_con p {
    text-align: center; /* Alineación del texto */
    color: #bdbfbc; /* Color del texto */
    margin: 50px; /* Margen exterior */
}

/* Estilo del contenedor de los botones de inicio de sesión */
.pagina {
    display: flex; /* Configura el contenedor como un flexbox */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    flex-direction: column; /* Apila los elementos verticalmente */
}

/* Estilo de los botones de inicio de sesión */
.pag, .pag1 {
    display: flex; /* Configura los botones como flexbox */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    border: 2px solid #c7d1c8; /* Borde sólido */
    border-radius: 25px; /* Borde redondeado */
    width: 150px; /* Ancho del botón */
    height: 30px; /* Altura del botón */
    padding: 1px 3px; /* Espaciado interno */
    margin: 10px; /* Margen exterior */
    text-align: center; /* Alineación del texto */
}

/* Estilo de los enlaces dentro de los botones de inicio de sesión */
.pag a, .pag1 a {
    text-decoration: none; /* Sin subrayado */
    outline: none; /* Sin contorno al enfocar */
}

/* Estilo del texto dentro de los botones de inicio de sesión */
.pag strong, .pag1 strong {
    margin: 0 10px; /* Margen entre el icono y el texto */
    color: #fff; /* Color del texto */
    font-family: Cormorant Garamond; /* Fuente */
    font-size: 14px;
}

/* Estilo de los iconos de Google y Apple */
.fa-google, .fa-apple {
    color: #000; /* Color del icono */
}

/* ------Contatos------- */

/* Estilos para el formulario de contacto */
.form__contacto {
    display: flex; /* Hace que el contenedor del formulario se comporte como un contenedor flexible, lo que permite organizar los elementos hijos de manera flexible */
    justify-content: center; /* Centra horizontalmente los elementos hijos dentro del contenedor */
    align-items: center; /* Centra verticalmente los elementos hijos dentro del contenedor */
}

/* Estilos para el formulario dentro de .form__contacto */
.form__contacto form {
    display: flex; /* Hace que el formulario se comporte como un contenedor flexible, lo que permite organizar los elementos hijos de manera flexible */
    justify-content: center; /* Centra horizontalmente los elementos hijos dentro del formulario */
    align-items: center; /* Centra verticalmente los elementos hijos dentro del formulario */
    flex-direction: column; /* Organiza los elementos hijos en una columna, lo que significa que se apilarán verticalmente */
    background-color: #fff; /* Establece el color de fondo del formulario como blanco */
    width: 420px; /* Establece el ancho del formulario */
    height: 400px; /* Establece la altura del formulario */
    border-radius: 5px 5px 0 0; /* Establece radios de borde específicos para dar esquinas redondeadas en la parte superior */
}

/* Estilos para el texto "Contacta con nosotros" dentro del formulario */
.form__contacto form p {
    color: #000; /* Establece el color del texto del párrafo como negro */
    text-align: justify; /* Justifica el texto del párrafo */
    font-size: 28px; /* Establece el tamaño del texto del párrafo */
    font-family: mifuentemia; /* Establece la fuente del texto del párrafo */
    margin: 0 0 20px 0; /* Establece el margen del párrafo (arriba, derecha, abajo, izquierda) */
}

/* Estilos para los campos de entrada dentro del formulario */
.form__contacto input {
    border: 1px solid #9ba79c; /* Establece un borde sólido de color gris claro para los campos de entrada */
    width: 240px; /* Establece el ancho de los campos de entrada */
    height: 30px; /* Establece la altura de los campos de entrada */
    margin: 0 10px; /* Establece el margen de los campos de entrada (arriba y abajo) y (izquierda y derecha) */
    padding: 0 5px; /* Establece el relleno de los campos de entrada */
    border-radius: 25px; /* Establece radios de borde redondeados para los campos de entrada */
    outline: none; /* Elimina el contorno alrededor de los campos de entrada cuando están enfocados */
    font-size: 15px; /* Establece el tamaño del texto dentro de los campos de entrada */
}

/* Estilos para el campo de correo electrónico */
.form__contacto #email {
    width: 250px; /* Establece el ancho del campo de correo electrónico */
    font-size: 15px; /* Establece el tamaño del texto dentro del campo de correo electrónico */
}

/* Estilos para el campo de teléfono */
.form__contacto #telefono {
    width: 170px; /* Establece el ancho del campo de teléfono */
}

/* Estilos para las etiquetas de los campos */
.form__contacto label {
    color: #000; /* Establece el color del texto de las etiquetas de los campos como negro */
    font-size: 20px; /* Establece el tamaño del texto de las etiquetas de los campos */
    font-family: mifuentemia; /* Establece la fuente del texto de las etiquetas de los campos */
}


/* Telefono */

@media (max-width: 800px) and (min-width: 300px)  { 

    .logo__Empresa {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flecha {
        display: flex;
        float: left;
        width: 0;
        height: 0;
        transform: translateX(-25px) translateY(-5px);
        margin: 15px 0 0 0;
        padding: 0;
        /* margin: 0 5px; */
    }

    .flecha a {
        text-decoration: none;
    }

    .flecha i {
        display: flex;
    }

    

    .fa-arrow-left {
        font-size: 1.5rem;
    }


    .logo__Empresa img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 180px;
        padding: 20px 0 0 0;
    }


    .menu .menu__horizontal {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        top: 0;
        right: 0;
        left: 0;
        position: fixed;
        z-index: 10;
        background-color: #5E715E;
        transition: top 1s ease;
        line-height: 60px;
    }

    .menu .menu__horizontal .cierraMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .menu .abreMenu {
        display: flex;
        float: right;
        justify-content: end;
        width: 20px;
    }

    .fa-ellipsis-v {
        color: #bdbfbc;
        margin: 10px;
        font-size: 1rem;
    }

    .fa-times {
        color: #bdbfbc;
    }

    .menu .menu__horizontal li a:hover {
        background: none;
        /* color: rgb(255, 123, 0); */
        font-size: 1.3rem;
    }

    .iconos i {
        display: inline-block;
        padding: 12px;
        font-size: 2rem;
    }

    .menu__superior {
        display: none;
    }


    
    

   /* servicios */

.servicio .titulo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
    font-family: Cormorant Garamond;
    font-size: 32px;
    margin-left: 45px;
    margin-top: 80px;
}

.servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.servicios__img {
    display: block;
    text-align: center;
    margin: 30px;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 25px;
}

.servicios__img img {
   width: 0px;
  
}


.servicios__img h3 {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
    margin: 5px;
    font-size: 20px;
    font-family: Cormorant Garamond;
    color: #000;
}

.servicios__img a {
    text-decoration: none;
}

.intro input {
    margin: 0 0 5px 0;
}

.servicios__img p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #000;
    text-align: justify;
    transform: translateX(0px);
    /* width: 200px; */
    font-size: 18px;
    margin: 10px;
    visibility: hidden;
    opacity: 0;
}



.servicios__img .intro{   
    height: 205px;
    width: 300px;
    line-height: 20px;
    bottom: 205px;
    background-color: #fff;
}

.servicios__img p {
    opacity: 1;
    visibility: visible;
}


/* Cotizar */
.formulario__cotizar p {
    text-align: justify;
    font-size: 32px;
    color: #000;
    margin-bottom: 20px;
}

.formulario__cotizar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.formulario__cotizar form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 350px;
    height: 700px;
    border-radius: 25px;
}
/* Usuario */
.form__usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.form__usuario form {
    width: 320px;
}

/* Resgistro */

.form__registro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.form__registro form {
    width: 320px;
 }

/* Contacto */

.form__contacto h2 {
     text-align: justify;
     font-size: 32px;
     color: #000;
     margin-bottom: 25px;
}

.form__contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 0 0 0;
 }
 
 .form__contacto form {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color: #fff;
     width: 350px;
     height: 400px;
     border-radius: 25px 25px 0 0;
     margin: 0px 0 0 0;
 }

 .info .informacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 350px;
    height: 160px;
    border-radius: 0 0 25px 25px;
}



}





