/* @font-face {
    font-family: fuentes;
    src: url(/fuentes/CormorantGaramond-BoldItalic.ttf);
    font-weight: bold;
    font-style: bold;
} */
@font-face {
    font-family: mifuenteMia;
    src: url(../fuentes/CormorantGaramond-BoldItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cormorant Garamond;
}

:root {
    --verdePastel: #d5e4cf;
    --verdeGrisaseo: #9ba79c;
    --verdeGrisOscuro: #afc2ae;
    --verdegris: #d5e4cf;
    --crema: #fcf7ec;
    --verdeMilitar: #273526;
    --grisAzulado: #45627e;
    --verdeMilitar: #6d8777;
    --verdeClaro : #c0cfb2;
    --verdeGris2: #e4e6d9;
    --verdeClaro1: #b7f7c7;
    --verdeclaro2: #9fdeaf;
    --verdeClaro3: #87c598;
    --verdeOscuro1: #6fac80;
    --verdeOscuro2: #579368;
    --rosado:rgb(255, 0, 191);
    /* Colores que estaran en la lista de tal vez */
    --quizas1: #3e7e55;
    --quizas2: #7abd87;
    --quizas3: #cadec8;
    --quizas4: #eaeee5;
}

body {
    background-color: #5E715E;
}

footer {
    margin: auto;
    padding: 20px;
}

.texto__footer {
    text-align: center;
    color: #fff;
}

.logo1 {
    display: flex;
    width: 0px;
    height: 0px;
    margin-left: 40px;
}

.logo {
    width: 300px;
    height: 150px;
    margin-top: -5px;
}

.flecha i {
    display: none;
}

.icon {
    padding-top: 90px;
}

/* .menu__icono {
    margin-right: 300px;
} */

.menu {
    display: block;
    /* align-items: flex-end; */
    /* margin-bottom: 100px; */
}

nav {
    margin: auto;
    background: #5E715E;
    font-size: 15px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.menu__horizontal {
    list-style: none;
    display: flex;
    /* justify-content: space-around; */
    text-transform: uppercase;
    justify-content: center;
}

.menu__horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.menu__horizontal > li:hover {
    background-color: #6d8777;
}

.menu__vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #9ba79c;
    text-transform: none;
    z-index: 2;
}

.menu__horizontal li:hover .menu__vertical {
    display: block;
}

.menu__vertical li:hover {
    background-color: #6d8777;
}

.menu__vertical li a {
    display: block;
    color: #dcdfdc;
    padding: 10px 10px 10px 15px;
    text-decoration: none;
}

.menu__superior {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.menu__icono {
    margin-right: 40px;
    padding-right: 20px;
    /* padding-top: 50px; */
    /* margin-top: 50px; */
}

.menu__Empresa {
    margin-top: -47px;
}

/* hasta aqui hice cambios */


.menu .abreMenu {
    font-size: 1rem; /* Esto es para darle tamaño a los tre puntitos */
    margin: 20px; /* Esto aki es para darle espacio el los lados*/
    display: none;
    cursor: pointer; /* Para cambiar de cursor*/
    /* color: #5E715E; */
}

.menu .menu__horizontal .cierraMenu, .iconos i {
    font-size: 1.5rem; /* Esto es para darle tamaño al los iconos y a la (x) */
    display: none;
    cursor: pointer; /* Para cambiar de cursor*/
}


.fa-instagram:hover {
    color: var(--rosado); /* Lo utilizo para darle un efecto al icono de instagram*/
}


/* Servicios */

.servicio .titulo {
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 32px;
    color: #fff;
}

.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicios__img {
    margin: 30px;
    width: 400px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.servicios__img img {
    height: 200px;
    width: 400px;
    border-radius: 10px;
    object-fit: cover;
    transition: .5s;
}

.intro {
    height: 75px;
    width: 400px;
    padding: 6px;
    box-sizing: border-box;
    position: relative;
    bottom: 65px;
    border-radius: 10px;
    background: #9ba79c;
    backdrop-filter: blur(20px);
    text-align: center;
    color: #fff;
    transition: .5s;
}

.servicios__img h3 {
    margin: 5px;
    font-size: 18px;
    font-family: Cormorant Garamond;
    color: #000;
}

.servicios__img a {
    text-decoration: none;
}

.intro input {
    height: 35px;
    border: none;
    margin: 15px;
    border-radius: 25px;
    background-color:#9ba79c;
    color: #fff;
    box-shadow: 0px 3px 3px 0px grey;
    font-size: 18px;
    font-family: Cormorant Garamond;
    cursor: pointer;
    padding: 5px;
    transition: .5s;
}

.servicios__img p {
    color: #000;
    text-align: justify;
    transform: translateX(20px);
    font-size: 15px;
    margin: 10px;
    visibility: hidden;
    opacity: 0;
     font-family: mifuenteMia;
}

.servicios__img .intro input:hover  {
    transform: scale(1.1);
}

.servicios__img:hover .intro{
    height: 205px;
    bottom: 205px;
    background-color: #fff;
}

.servicios__img:hover p {
    opacity: 1;
    visibility: visible;
}

.servicios__img:hover img {
    transform: scale(1.1) rotate(-3deg);
}

.nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}


/* --------Cotizar------- */

.formulario__cotizar form p {
    color: #000;
    text-align: justify;
    font-size: 28px;
    line-height: 25px;
    font-family: mifuentemia;
}

.formulario__cotizar {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.formulario__cotizar form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 715px;
    border-radius: 25px;
    background-color: #fff;
}


.formulario__cotizar label {
    margin: 20px;
    color: #000;
    font-family: mifuentemia;
}


.formulario__cotizar #fecha {
    text-align: center;
    width: 165px;
    padding: 0 5px;
    font-size: 16px;
    cursor: pointer;
}

.formulario__cotizar #nombre{
    width: 200px;
}

.formulario__cotizar #apell {
    width: 195px;
}

.formulario__cotizar #email {
    width: 210px;
}

.formulario__cotizar #tel {
    width: 205px;
}

.formulario__cotizar input {
   padding: 0 5px;
   height: 30px;
   width: 200px;
   border-radius: 25px;
   margin: 5px ;
   border: 1px solid #bdbfbc;
   font-size: 14px;
   outline: none;
}

.consulta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 5px;
}

.consulta textarea {
    border-radius: 10px;
    width: 280px;
    height: 75px;
    outline: none;
    padding: 0 3px;
}

.confirmar {
   display: flex;
   justify-content: center;
   width: 375px;
   height: 35px;
   border-radius: 25px;
}

.confirmar input {
    border: 0;
    background-color: var(--quizas1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 120px;
    height: 30px;
    color: #fff;
    text-align: center;
    margin-top: -5px;
    padding: 1px;
    font-size: 18px;
    font-family: mifuentemia;
}

.formulario__cotizar input[type="submit"]:hover {
    background-color: var(--verdeOscuro2);
}


/* Usuario */
.form__usuario {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.form__usuario form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(247, 242, 242, 0.671);
    width: 400px;
    height: 400px;
    border-radius: 5px;
    padding: 30px;
}

.form__usuario h2 {
     text-align: center;
     font-size: 32px;
     color: #fff;
     margin: 0 0 30px 0;
     font-family: mifuenteMia;
}

.form__usuario form input {
    border: 0;
    outline: none;
    width: 280px;
    height: 30px;
    border-radius: 20px;
    padding: 0 10px;
    font-size: 18px;
    font-family: mifuentemia;

}

.form__usuario .boton input {   
    background-color: var(--quizas1);
    color: #fff;
    width: 260px;
    height: 35px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 0 25px 0;
}

.boton:hover input {
    background-color: var(--quizas2);
}

.usuario p {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    font-family: mifuentemia;
}

.otra__manera {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.otra__manera a {
    text-decoration: none;
}

.otra__manera h4 {
    font-size: 20px;
    color: #fff;
    font-family: mifuentemia;
}

.vinculo {
    padding: 5px;
}

.vinculo i {
    margin: 8px;
}


.otra__manera {
    height: 30px auto;
    margin: 0 10px;
    cursor: pointer;
}

.registrame {
    padding: 20px;
}

.registrame a {
    text-decoration: none;
}

.registrame p  {
    font-size: 16px;
    color: #fff;
    font-family: mifuentemia;
}

.registrame p strong {
     color: #1C4807;
     cursor: pointer;
     font-family: mifuentemia;
}




/* Registro de usuario */

.form__registro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__registro form {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid rgba(247, 242, 242, 0.671);
   width: 400px;
   height: 450px;
   border-radius: 5px;
   padding: 37px;
}



.form__registro form input {
   border: 0;
   outline: none;
   width: 285px;
   height: 35px;
   margin: 5px;
   border-radius: 20px;
   padding: 0 10px;
   font-size: 18px;
   font-family: mifuentemia;
}

.regis {
   display: flex;
   justify-content: center;
   width: 300px;
   height: 30px;
   border-radius: 25px;
}

.regis input[type="submit"] {
   background-color: var(--quizas1);
   display: flex;
   border-radius: 25px;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   width: 260px;
   height: 30px;
   color: #fff;
   margin: 20px;
   text-align: center;
   font-size: 20px;
   font-family: mifuentemia;
   padding: 2px;
   outline: none;
}

.regis:hover input {
   background-color: var(--verdeOscuro2);
}

.entrar_con p {
   text-align: center;
   color: #bdbfbc;
   margin: 50px;
}

.pagina {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.pag {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid #c7d1c8;
   border-radius: 25px;
   width: 150px;
   height: 30px;
   padding: 1px 3px;
   margin-top: -30px;
   text-align: center;
}

.pag1 {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid #c7d1c8;
   border-radius: 25px;
   width: 150px;
   height: 30px;
   padding: 1px 3px;
   margin: 10px;
}

.pag a, .pag1 a {
   text-decoration: none;
   outline: none;
}

.pag strong, .pag1 strong {
   margin: 0 10px;
   color: #fff;
   font-family: mifuentemia;
}

.fa-google {
   color: #000;
}

.fa-apple {
   color: #000;
}

/* ------Contatos------- */

.form__contacto {
   display: flex;
   justify-content: center;
   align-items: center;
}

.form__contacto form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 420px;
    height: 400px;
    border-radius: 5px 5px 0 0;
    
}


.form__contacto form p {
   color: #000;
   text-align: justify;
   font-size: 28px;
   font-family: mifuentemia;
   margin: 0 0 20px 0;
}

.form__contacto input {
    border: 1px solid #9ba79c;
    width: 240px;
    height: 30px;
    margin: 0 10px;
    padding: 0 5px;
    border-radius: 25px;
    outline: none;
    font-size: 15px;
}


.flecha{
    font-size: 1rem; /* Esto es para darle tamaño a los tre puntitos */
    margin: 20px; /* Esto aki es para darle espacio el los lados*/
    display: flex;
    /* cursor: pointer; Para cambiar de cursor */
    color: #E1EFD8;
}

.flecha a i {
    color: #E1EFD8;
}


.form__contacto #email {
    width: 250px;
    font-size: 15px;
}

.form__contacto #telefono {
    width: 170px;
}

.form__contacto label {
    color: #000;
    font-size: 20px;
    font-family: mifuentemia;
}

.mensaje {
    display: flex;
    flex-direction: column;
}

.mensaje textarea{
    display: flex;
    justify-content: center;
    border: 1px solid #9ba79c;
    width: 330px;
    height: 90px;
    padding: 0 5px;
    font-size: 18px;
    border-radius: 15px;
    outline: none;
}

.enviar input {
     border: 0;
     background-color: var(--quizas1);
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     width: 110px;
     height: 30px;
     color: #fff;
     text-align: center;
     font-size: 25px;
     font-family: mifuentemia;
     outline: none;
}

.enviar:hover input {
     background-color: var(--verdeOscuro2);
}

.info {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.info .informacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 450px;
    height: 160px;
    border-radius: 0 0 5px 5px;
}

.contacta {
    display: flex;
    margin: 10px;
    align-self: flex-start;
    padding: 0 50px;
}

.fa-map {
    color: var(--quizas2);
}

.fa-envelope {
    color: var(--quizas2);
}

.fa-phone-volume {
    color: var(--quizas2);
}

.contacta p {
    font-size: 16px;
    color: #000;
    margin: 0 10px;
    font-family: mifuentemia;
}


/* Telefono */

@media (max-width: 800px) and (min-width: 300px)  { 

    .logo__Empresa {
   display: flex;
   justify-content: center;
   align-items: center;
}


    .logo__Empresa img {
        width: 280px;
        height: 150px;
        padding: 15px 0 0 0;
    }


    .menu .menu__horizontal {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        top: 0;
        right: 0;
        left: 0;
        position: fixed;
        z-index: 10;
        background-color: #5E715E;
        transition: top 1s ease;
        line-height: 60px;
    }

    .menu .menu__horizontal .cierraMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .menu .abreMenu {
        display: flex;
        float: right;
        justify-content: end;
        width: 20px;
    }

    .fa-ellipsis-v {
        color: #bdbfbc;
        margin: 10px;
    }

    .fa-times {
        color: #bdbfbc;
    }

    .menu .menu__horizontal li a:hover {
        background: none;
        /* color: rgb(255, 123, 0); */
        font-size: 1.3rem;
    }

    .iconos i {
        display: inline-block;
        padding: 12px;
    }

    .menu__superior {
        display: none;
    }


    .flecha {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    

   /* servicios */

.servicio .titulo {
    padding: 50px 0 0 0;
    text-align: justify;
    font-family: Cormorant Garamond;
    font-size: 32px;
    margin-left: 45px;
}

.servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.servicios__img {
    display: block;
    text-align: center;
    margin: 30px;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 25px;
}

.servicios__img img {
   width: 0px;
  
}


.servicios__img h3 {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
    margin: 5px;
    font-size: 20px;
    font-family: Cormorant Garamond;
    color: #000;
}

.servicios__img a {
    text-decoration: none;
}

.intro input {
    margin: 0 0 5px 0;
}

.servicios__img p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #000;
    text-align: justify;
    transform: translateX(0px);
    /* width: 200px; */
    font-size: 18px;
    margin: 10px;
    visibility: hidden;
    opacity: 0;
}



.servicios__img .intro{   
    height: 205px;
    width: 300px;
    line-height: 20px;
    bottom: 205px;
    background-color: #fff;
}

.servicios__img p {
    opacity: 1;
    visibility: visible;
}


/* Cotizar */
.formulario__cotizar form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 715px;
    border-radius: 25px;
    background-color: #fff;
}

/* Usuario */
.form__usuario form {
    width: 320px;
}

/* Resgistro */

.form__registro form {
    width: 320px;
 }

/* Contacto */

.form__contacto h2 {
     text-align: justify;
     font-size: 32px;
     color: #000;
     margin-bottom: 25px;
}

.form__contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
 }
 
 .form__contacto form {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color: #fff;
     width: 350px;
     height: 400px;
     border-radius: 25px 25px 0 0;
     
 }

 .info .informacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 350px;
    height: 160px;
    border-radius: 0 0 25px 25px;
}



}





