@font-face {
    font-family: mifuenteMia;
    src: url(../fuentes/CormorantGaramond-BoldItalic.ttf);
}

/* Recuerda hacer la lista de variables para los colores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cormorant Garamond;
}

:root {
    --verdePastel: #d5e4cf;
    --verdeGrisaseo: #9ba79c;
    --verdeGrisOscuro: #afc2ae;
    --verdegris: #d5e4cf;
    --crema: #fcf7ec;
    --verdeMilitar: #273526;
    --grisAzulado: #45627e;
    --verdeMilitar: #6d8777;
    --verdeClaro : #c0cfb2;
    --verdeGris2: #e4e6d9;
    --verdeClaro1: #b7f7c7;
    --verdeclaro2: #9fdeaf;
    --verdeClaro3: #87c598;
    --verdeOscuro1: #6fac80;
    --verdeOscuro2: #579368;
    /* Colores que estaran en la lista de tal vez */
    --quizas1: #3e7e55;
    --quizas2: #7abd87;
    --quizas3: #cadec8;
    --quizas4: #eaeee5;
}

body {
    background-color: #5E715E;
}

/* header */

/* .logo1 {
    width: 20%;
}

.logo__Empresa {
    width: 100px;
    height: auto;
} */

/* .menu {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.logo1 {
    display: flex;
    width: 0px;
    height: 0px;
    margin-left: 40px;
}

.logo {
    width: 300px;
    height: 150px;
    margin-top: -5px;
}

.icon {
    padding-top: 90px;
}

/* .menu__icono {
    margin-right: 300px;
} */

.menu {
    display: block;
    /* align-items: flex-end; */
    /* margin-bottom: 100px; */
}

nav {
    margin: auto;
    background: #5E715E;
    font-size: 15px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.menu__horizontal {
    list-style: none;
    display: flex;
    /* justify-content: space-around; */
    text-transform: uppercase;
    justify-content: center;
}

.menu__horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.menu__horizontal > li:hover {
    background-color: #6d8777;
}

.menu__vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #9ba79c;
    text-transform: none;
    z-index: 2;
}

.menu__horizontal li:hover .menu__vertical {
    display: block;
}

.menu__vertical li:hover {
    background-color: #6d8777;
}

.menu__vertical li a {
    display: block;
    color: #dcdfdc;
    padding: 10px 10px 10px 15px;
    text-decoration: none;
}

.menu__superior {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.menu__icono {
    margin-right: 40px;
    padding-right: 20px;
    /* padding-top: 50px; */
    /* margin-top: 50px; */
}

.menu__Empresa {
    margin-top: -47px;
}

/* Main */

/* main {
    background-image: url("imagenes/prueba1.jpg");
} */

.contenedor {
    width: 100%;
    height: 600px;
}

.paredBlanca, .bancoJardin {
    display: flex;
    width: 90%;
    height: 585px;
    margin-left: 70px;
    overflow: hidden;
    text-decoration: none;
    animation: slider 20s infinite linear;
}

.paredBlanca {
    position: relative;
    display: inline-block;
    /* text-align: center; */
}
 
.contenedor, .texto_img {
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto_img {
    font-size:x-large;
    text-align: center;
    width: 400px;
}

.texto_img {
    background: #5e715ec7;
    padding: 30px 70px 30px 70px;
}

.contenedor, .texto_enlace {
    color: #fff;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto_enlace {
    font-size: xx-large;
    border: 1px solid #fff;
    padding: 20px;
}

li img{
    text-decoration: none;
    /* float: left; */
}

/* @keyframes slider {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    40%{margin-left: -100%;}
    60%{margin-left: -100%;}

    80%{margin-left: -200%;}
    100%{margin-left: -200%;}

    85%{margin-left: -300%;}
    100%{margin-left: -300%;}
} */

/* .promocion {
    margin: auto;
    padding: auto;
    width: 300px;
    height: 200px;
    justify-content: center;
} */

/* .propaganda{
    width: 700px;
    height: 400px;
} */

/* .cuidado {
    margin: auto;
    padding: auto;
    width: 400px;
    height: 500px;
}
.video {
    width: 700px;
    height: auto;
}*/

.subTema {
    text-align: center;
    font-size: medium;
    color: #fff;
}

.texto {
    text-align: justify;
    padding: 5px;
    color: #fff;
}

/* Perfil */

.perfil {
    text-align: center;
}

.fotoPerfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.infoPersonal {
    display: flex;
    align-items: flex-start;
    column-count: 1;
}

.menu__perfil{
    column-count: 1;
}

.listaPerfil {
    list-style: none;
}

/* .menu__desplegar {
    /* display: flex; */
    /* list-style: none;
    column-count: 2;
} */ 

/*.menu__perfil {
    /* display: flex;
    align-items: flex-end; */
    /* text-decoration: none; */
    /* list-style: none; 
}*/

/* .nombre {
    
} */
/* footer */
footer {
    margin: auto;
    padding: 20px;
}

.texto__footer {
    text-align: center;
    color: #fff;
}

/* Responsive */

@media screen and(min-width:1024px) {
    
}

@media screen and(min-width: 768px) and(max-width: 1023px) {
    
}

@media screen and(max-width:767px) {
    
}