/* @font-face {
    font-family: fuentes;
    src: url(/fuentes/CormorantGaramond-BoldItalic.ttf);
    font-weight: bold;
    font-style: bold;
} */
@font-face {
    font-family: mifuenteMia;
    src: url(../fuentes/CormorantGaramond-BoldItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cormorant Garamond;
}

:root {
    --verdePastel: #d5e4cf;
    --verdeGrisaseo: #9ba79c;
    --verdeGrisOscuro: #afc2ae;
    --verdegris: #d5e4cf;
    --crema: #fcf7ec;
    --verdeMilitar: #273526;
    --grisAzulado: #45627e;
    --verdeMilitar: #6d8777;
    --verdeClaro : #c0cfb2;
    --verdeGris2: #e4e6d9;
    --verdeClaro1: #b7f7c7;
    --verdeclaro2: #9fdeaf;
    --verdeClaro3: #87c598;
    --verdeOscuro1: #6fac80;
    --verdeOscuro2: #579368;
    --rosado:rgb(255, 0, 191);
    /* Colores que estaran en la lista de tal vez */
    --quizas1: #3e7e55;
    --quizas2: #7abd87;
    --quizas3: #cadec8;
    --quizas4: #eaeee5;
}

body {
    background-color: #5E715E;
}

.logo1 {
    display: flex;
    width: 0px;
    height: 0px;
    margin-left: 40px;
}

.logo {
    width: 300px;
    height: 150px;
    margin-top: -5px;
}

.icon {
    padding-top: 90px;
}

.menu {
    display: block;
}

nav {
    margin: auto;
    background: #5E715E;
    font-size: 15px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.menu__horizontal {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
}

.menu__horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.menu__horizontal > li:hover {
    background-color: #6d8777;
}

.menu__vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #9ba79c;
    text-transform: none;
    z-index: 2;
}

.menu__horizontal li:hover .menu__vertical {
    display: block;
}

.menu__vertical li:hover {
    background-color: #6d8777;
}

.menu__vertical li a {
    display: block;
    color: #dcdfdc;
    padding: 10px 10px 10px 15px;
    text-decoration: none;
}

.menu__superior {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.menu__icono {
    margin-right: 40px;
    padding-right: 20px;
    /* padding-top: 50px; */
    /* margin-top: 50px; */
}

.menu__Empresa {
    margin-top: -47px;
}


/* hasta aqui hice cambios */


nav .abreMenu {
    font-size: 1rem; /* Esto es para darle tamaño a los tre puntitos */
    margin: 20px; /* Esto aki es para darle espacio el los lados*/
    display: flex;
    cursor: pointer; /* Para cambiar de cursor*/
    color: #5E715E;
}

nav .menu__horizontal .cierraMenu, .iconos i {
    font-size: 2rem; /* Esto es para darle tamaño al los iconos y a la (x) */
    display: none;
    cursor: pointer; /* Para cambiar de cursor*/
}


.fa-instagram:hover {
    color: var(--rosado); /* Lo utilizo para darle un efecto al icono de instagram*/
}


/* Servicios */

/* Selecciona el contenedor de la barra de búsqueda. */
.search-container {
  display: none; /*display: flex: Establece el contenedor como un contenedor flexible para que los elementos hijos puedan alinearse horizontalmente.*/
  justify-content: center;
  max-width: 907px; /*max-width: 907px: Limita el ancho máximo del contenedor de búsqueda a 907 píxeles.*/
  margin: 0 auto;/*margin: 0 auto: Centra el contenedor horizontalmente dentro de su contenedor padre.*/
}

.barra {
    background: #fff;
    width: 90%;
    padding: 2px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    height: 30px;
    position: relative;
}

.barra input {
    flex: 1;
    padding: 0 10px;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 18px;
}

.barra button img {
    width: 25px;
}

.barra button {
    padding: 5px ;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
}


.servicio .titulo {
    text-align: center;
    font-family: light;
    font-size: 32px;
}

.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column; */
    /* width: 100%; */
    /* padding: 10px 0; */
}

.servicios__img {
    margin: 30px;
    width: 400px;
    height: 200px;
    overflow: hidden;
    border-radius: 25px;
}

.servicios__img img {
    height: 200px;
    width: 400px;
    border-radius: 25px;
    object-fit: cover;
    transition: .5s;
}

.intro {
    height: 75px;
    width: 400px;
    padding: 6px;
    box-sizing: border-box;
    position: relative;
    bottom: 75px;
    border-radius: 25px;
    background: #5793688a;;
    backdrop-filter: blur(20px);
    text-align: center;
    color: #fff;
    transition: .5s;
}

.servicios__img h3 {
    margin: 5px;
    font-size: 20px;
}

.servicios__img a {
    text-decoration: none;
}

.intro input {
    height: 35px;
    border: none;
    margin: 15px;
    border-radius: 25px;
    background-color:#fff;
    color: var(--verdeMilitar);
    box-shadow: 0px 3px 3px 0px #333;
    font-size: 20px;
    font-family: fuentes;
    cursor: pointer;
    padding: 5px;
    transition: .5s;
}

.servicios__img p {
    color: #fff;
    text-align: justify;
    transform: translateX(20px);
    font-size: 15px;
    margin: 10px;
    visibility: hidden;
    opacity: 0;
}

.servicios__img .intro input:hover  {
    transform: scale(1.1);
}

.servicios__img:hover .intro{
    height: 205px;
    bottom: 205px;
    background-color: var(--quizas1);
}

.servicios__img:hover p {
    opacity: 1;
    visibility: visible;
}

.servicios__img:hover img {
    transform: scale(1.1) rotate(-3deg);
}

/* --------Cotizar------- */

.formulario__cotizar form p {
    color: #000;
    text-align: justify;
    font-size: 28px;
    margin-left: 40px;
    line-height: 5px;
    padding: 3px;
}

.formulario__cotizar {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   width: 400px;
   height: 100%;
   margin: 10px auto;
   border-radius: 25px;
}


.formulario__cotizar label {
    margin: 20px;
    color: #000;
}

.campos {
   margin-left: 20px;
}

.formulario__cotizar #fecha {
    text-align: center;
    width: 167px;
    padding: 0 5px;
    font-size: 16px;
    cursor: pointer;
}

.formulario__cotizar #nombre, #apell{
    width: 195px;
}

.formulario__cotizar #email {
    width: 205px;
}

.formulario__cotizar input {
    padding: 0 8px;
   height: 30px;
   width: 200px;
   border-radius: 25px;
   margin: 5px 0;
   border: 1px solid #bdbfbc;
   font-size: 14px;
}

.consulta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 5px;
}

.consulta textarea {
    margin: 0px;
    border-radius: 10px;
    width: 300px;
    height: 75px;
}

.confirmar {
   display: flex;
   justify-content: center;
   width: 375px;
   height: 35px;
   border-radius: 25px;
}

.confirmar input {
    border: 0;
    background-color: var(--quizas1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 120px;
    height: 30px;
    color: #fff;
    text-align: center;
    margin-top: -5px;
    padding: 1px;
    font-size: 18px;
    
}

.formulario__cotizar input[type="submit"]:hover {
    background-color: var(--verdeOscuro2);
}


/* USUARIO */

.form__usuario {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.form__usuario form {
    box-shadow: 0px 5px 5px 5px rgb(27, 27, 27, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 440px;
    border-radius: 25px;
}

.form__usuario h2 {
     text-align: center;
     font-size: 32px;
     color: #000;
     margin-bottom: 25px;
}

label, p {
    font-size: 18px;
    color: #575757;
    margin-bottom: 10px;
}

.form__usuario input {
    border: 0;
    padding: 0 10px;
    outline: none;
}

.form__usuario #correo, #pass {
    width: 285px;
    height: 35px;
    border-radius: 25PX;
    font-size: 20px;
    font-family: fuentes;
}

.boton {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 35px;
    border-radius: 25px;
}

.boton input{
    background-color: var(--quizas1);
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 270px;
    height: 40px;
    border-radius: 25px;
    font-size: 20px;
    color: #fff;
    font-family: fuentes;
    text-align: center;
    padding: 2px;
}

.boton:hover input {
    background-color: var(--quizas2);
}

.usuario p {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 16px;
    color: #000;
}

.otra__manera {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.otra__manera a {
    text-decoration: none;
}

.otra__manera h4 {
    font-size: 20px;
    color: #000;
}

.otra__manera p {
    font-size: 16px;
    color: #000;
    margin-top: -2px;
}

.otra__manera p strong {
    color: #1C4807;
    cursor: pointer;
}

.vinculo {
    padding: 0px;
    margin-top: -15px;
}

.otra__manera img {
    height: 30px auto;
    margin: 0 10px;
    cursor: pointer;
}

/* Registro de usuario */

.form__registro {
     display: flex;
     justify-content: center;
     align-items: center;
}

.form__registro form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 5px 5px rgb(27, 27, 27, .5);
    width: 300px;
    height: 500px;
    border-radius: 20px;
}

.form__registro .nome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__registro .nome input {
    border: 0;
}

.nome #nom, #ape {
    width: 125px;
    height: 40px;
    border-radius: 25px;
    margin: 0 5px;
    padding: 0 10px;
    font-size: 20px;
    font-family: fuentes;
}

.form__registro input {
    border: 0;
    margin: 5px;
    outline: none;
}

.form__registro #correo ,#passw {
    border-radius: 25px;
    padding: 0 10px;
    width: 285px;
    height: 40px;
    font-size: 20px;
    font-family: fuentes;
}

/* .registrar {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.registrar input {
    width: 50px;
    margin-top: 10px;
    cursor: pointer;
}

.registrar strong {
    color: #1C4807;
    cursor: pointer;
} */

.regis {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 30px;
    border-radius: 25px;
}

.regis input[type="submit"] {
    background-color: var(--quizas1);
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 270px;
    height: 40px;
    color: #fff;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    font-family: fuentes;
    padding: 2px;
    outline: none;
}

.regis:hover input {
    background-color: var(--verdeOscuro2);
}

.entrar_con p {
    color: #000;
    margin: 50px;
}

.pag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    border: 2px solid #9ba79c;
    border-radius: 25px;
    width: 150px;
    height: 35px;
    padding: 1px 3px;
}

.pag1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #9ba79c;
    border-radius: 25px;
    width: 150px;
    height: 35px;
    padding: 1px 3px;
    margin: 10px;
}

.pag a, .pag1 a {
    text-decoration: none;
    outline: none;
}

.pag strong, .pag1 strong {
    margin: 0 10px;
    color: #000;
}

.fa-google {
    color: #000;
}

.fa-apple {
    color: #000;
}


/* ------Contatos------- */

.form__contacto {
   display: flex;
   justify-content: center;
   align-items: center;
}

.form__contacto form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 380px;
    border-radius: 25px 25px 0 0;
}


.form__contacto form p {
   color: #000;
   text-align: justify;
   font-size: 28px;
}

.form__contacto input {
    border: 1px solid #9ba79c;
    width: 240px;
    height: 30px;
    margin: 0 10px;
    padding: 0 5px;
    border-radius: 25px;
    outline: none;
    font-size: 15px;
}


.flecha{
    font-size: 1rem; /* Esto es para darle tamaño a los tre puntitos */
    margin: 20px; /* Esto aki es para darle espacio el los lados*/
    display: flex;
    /* cursor: pointer; Para cambiar de cursor */
    color: #E1EFD8;
}



.form__contacto #email {
    width: 250px;
    font-size: 15px;
}

.form__contacto #telefono {
    width: 170px;
}

.form__contacto label {
    color: #000;
    font-size: 20px;
}

.mensaje {
    display: flex;
    flex-direction: column;
}

.mensaje textarea{
    display: flex;
    justify-content: center;
    border: 1px solid #9ba79c;
    width: 330px;
    height: 90px;
    font-size: 18px;
    border-radius: 20px;
    outline: none;
}

.enviar {
     display: flex;
     justify-content: center;
     width: 375px;
     height: 35px;
     border-radius: 25px;
}

.enviar input {
    border: 0;
     background-color: var(--quizas1);
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     width: 100px;
     height: 30px;
     color: #fff;
     text-align: center;
     padding: 0px;
     font-size: 25px;
     font-family: fuentes;
     outline: none;
}

.enviar:hover input {
     background-color: var(--verdeOscuro2);
}

.info {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.info .informacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 380px;
    height: 200px;
    border-radius: 0 0 25px 25px;
}

.contacta {
    display: flex;
    align-self: flex-start;
    margin-top: 15px;
}

.fa-map {
    color: var(--quizas2);
}

.fa-envelope {
    color: var(--quizas2);
}

.fa-phone-volume {
    color: var(--quizas2);
}

.contacta p {
    font-size: 16px;
    color: #000;
    margin: 0 10px;
    margin-top: -3px;
}

/* Telefono */

@media(max-width: 800px) and (min-width: 300px)  { 

    .logo__Empresa {
   display: flex;
   justify-content: center;
   align-items: center;
}

    .logo__Empresa img {
        width: 320px;
        height: 114px;
    }


    nav .menu__horizontal {
        height: 100vh; /* Esto lo hice para darle una altura al contenedor responsivo*/
        position: fixed; /* Esto lo utlize para fijar el contenedor*/
        top: 0; /* Esto tres lo utilizo para que el contenedor no se mueva de donde esta.*/ 
        right: 0;
        left: 0;
        z-index: 10; /* Aqui es para que el contenedor resalte*/
        flex-direction: column;/*Para poner los elementos en columna*/
        justify-content: center;/* Para centrar los elementos que esta dentro del contenedor*/
        align-items: center;
        background: #e1efd8; /*Par darle color al fondo*/
        transition: right 1s ease; /* Una transition de un 1s para que el menu abra.*/
        display: none;
    }

    nav .menu__horizontal .cierraMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .abreMenu {
        display: block ;
        float: right;
        justify-content: end;
        width: 20px;
    }

    .fa-ellipsis-v {
        color: #bdbfbc;
        margin: 10px;
    }

    .fa-times {
        color: #bdbfbc;
    }

    nav .menu__horizontal li a:hover {
        background: none;
        /* color: rgb(255, 123, 0); */
        font-size: 1.3rem;
    }

    .iconos i {
        display: inline-block;
        padding: 12px;
    }


    /* servicios */

.search-container {
  display: none; /*display: flex: Establece el contenedor como un contenedor flexible para que los elementos hijos puedan alinearse horizontalmente.*/
  justify-content: center;
  max-width: 907px; /*max-width: 907px: Limita el ancho máximo del contenedor de búsqueda a 907 píxeles.*/
  margin: 0 auto;/*margin: 0 auto: Centra el contenedor horizontalmente dentro de su contenedor padre.*/
}

.barra {
    background: #fff;
    width: 100%;
    padding: 2px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    height: 30px;
    position: relative;
}

.barra input {
    flex: 1;
    padding: 15px 10px;
    border: 0;
    background: transparent;
    font-size: 18px;
}

.barra button img {
    width: 25px;
}

.barra button {
    padding: 10px 12px;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
}


.servicio .titulo {
    text-align: justify;
    font-family: light;
    font-size: 32px;
    margin-left: 45px;
}

.servicios {
    width: 100%;
    height: 100%;
}

.servicios__img img {
   width: 0px;
  
}

.intro {
    height: 75px;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    position: relative;
    bottom: 75px;
    border-radius: 25px;
    background: #5793688a;
    backdrop-filter: blur(20px);
    text-align: center;
    color: #fff;
    transition: .5s;
}

.servicios__img h3 {
   display: flex;
   justify-content: center;
   text-align: center;
}

.servicios__img a {
    text-decoration: none;
}

.intro input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border: none;
    margin: 15px;
    border-radius: 25px;
    background-color:#fff;
    color: var(--verdeMilitar);
    box-shadow: 0px 3px 3px 0px #333;
    font-size: 20px;
    font-family: fuentes;
    cursor: pointer;
    padding: 5px;
    transition: .5s;
}

.servicios__img p {
    color: #fff;
    text-align: justify;
    transform: translateX(0px);
    font-size: 18px;
    margin: 10px;
    visibility: hidden;
    opacity: 0;
}



.servicios__img .intro{   
    height: 205px;
    bottom: 205px;
    background-color: var(--quizas1);
}

.servicios__img p {
    opacity: 1;
    visibility: visible;
}




/* Contacto */

.form__contacto h2 {
     text-align: justify;
     font-size: 32px;
     color: #000;
     margin-bottom: 25px;
}

.fa-arrow-left {
    color: #bdbfbc;
    margin: 10px;
    font-size: 1.5rem;
}

.flecha {
    display: block;
    float: right;
    width: 40px;
    margin-top: -70px;
}


}





