@font-face {
    font-family: mifuenteMia;
    src: url(../fuentes/CormorantGaramond-BoldItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cormorant Garamond;
}

body {
    background-color: #5E715E;
}

header {
    margin-top: -25px;
}

.logo1 {
    display: flex;
    width: 0px;
    height: 0px;
    margin-left: 40px;
}

.logo {
    width: 300px;
    height: 150px;
    margin-top: -5px;
}

.icon {
    padding-top: 90px;
}

.menu {
    display: block;
}

nav {
    margin: auto;
    background: #5E715E;
    font-size: 15px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.menu__horizontal {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
}

.menu__horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.menu__horizontal > li:hover {
    background-color: #6d8777;
}

.menu__vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #9ba79c;
    text-transform: none;
    z-index: 2;
}

.menu__horizontal li:hover .menu__vertical {
    display: block;
}

.menu__vertical li:hover {
    background-color: #6d8777;
}

.menu__vertical li a {
    display: block;
    color: #dcdfdc;
    padding: 10px 10px 10px 15px;
    text-decoration: none;
}

.menu__superior {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.menu__icono {
    margin-right: 40px;
    padding-right: 20px;
}

.menu__Empresa {
    margin-top: -47px;
}

footer {
    margin: auto;
    padding: 20px;
}

.texto__footer {
    text-align: center;
    color: #fff;
}

.contenedor {
    background: #fff;
    width: 80%;
}

main {
    background-color: #fff;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
}


.cuadro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.descripcion {
    justify-content: space-between;
}

.descripcion h2 {
    margin-top: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #2f7e46;
}

.descripcion p {
    margin-right: 15px;
    text-align: justify;
    padding-bottom: 30px;
    font-size: 18px;
    color: #292929;
    line-height: 20px
}

.boton__comprar {
    background-color: #2f7e46;
    color: #fff;
    border: none;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 40px;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: large;
}

.boton__comprar:hover {
    background-color: #579368;
}

.articulo img {
    height: 450px;
    width: 90%;
}

/* boton de articulos + - */

.quantity-control {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}

.quantity-btn {
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #2f7e46;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  width: 27px;
  height: 28px;
  text-align: center;
  border: none;
  outline: none;
}

#quantity {
  width: 60px;
  text-align: center;
  margin-top: 10px;
  width: 40px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  border: none;
  outline: none;
}

.Cantidad-texto {
    text-align: justify;
    font-size: 18px;
    color: #292929;
    line-height: 20px;
    width: 40px;
    height: 30px;
    text-align: center;
    border: none;
    outline: none;
}

/* Ocultar los botones de subir y bajar */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    /*  Esto quita la apariencia predeterminada de los botones de incremento y decremento en los navegadores. */
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 937px) {
    .cuadro {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    }

    .articulo img {
    height: 400px;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    }

    main {
    margin: 5%;
    padding: 20px;
    margin-top: 50px;
    }
}

@media (max-width: 667px) {

    .cuadro {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    }

    .articulo img {
    height: 350px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    }

    main {
    margin: 2%;
    padding: 20px;
    margin-top: 50px;
    }

}